<section>

    <div class="card">
        <a routerLink="/">
            <svg xmlns="http://www.w3.org/2000/svg" height="100px" viewBox="0 0 24 24" width="100px">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
            </svg>
        </a>
        <div>
            @if(idContact()){
            <h1>Editar contacto</h1>
            }
            @else {
            <h1>Nuevo contacto</h1>
            }
        </div>
        <div class="form-container">
            <form (ngSubmit)="handleFormSubmission(newContactForm)" #newContactForm="ngForm">
                <div>
                    <label for="first-name">Nombre*</label>
                    <input type="text" name="firstName" id="first-name" ngModel required="true" maxlength="20"
                        minlength="1" #firstName="ngModel">
                    @if (firstName.dirty && firstName.invalid) {
                    <p class="error">El nombre es obligatorio</p>
                    }
                </div>
                <div>
                    <label for="last-name">Apellido</label>
                    <input type="text" name="lastName" id="last-name" ngModel maxlength="20" #lastName="ngModel">
                </div>
                <div>
                    <label for="number">Telefono*</label>
                    <input type="text" name="number" id="number" ngModel maxlength="50" required="true" minlength="4"
                        #number="ngModel">
                    @if (number.dirty && number.invalid) {
                    <p class="error">El telefono es obligatorio y tiene que tener al menos 4 caracteres y no mas de 50
                    </p>
                    }
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" ngModel maxlength="40" #email="ngModel">
                </div>
                <div>
                    <label for="address">Dirección</label>
                    <input type="text" name="address" id="address" ngModel maxlength="50" #address="ngModel">
                </div>
                <div>
                    <label for="company">Companía</label>
                    <input id="company" name="company" type="text" ngModel minlength="2" #company="ngModel">
                </div>
                <div>
                    <label for="image">URL Imagen</label>
                    <input id="image" name="image" type="text" ngModel minlength="10" #image="ngModel">
                </div>
                <div class="spinner">
                    @if (backRequest) {
                    <app-spinner />
                    }
                </div>
                @if(idContact()){
                <button [disabled]="newContactForm.invalid || backRequest">Editar</button>
                } @else {
                <button [disabled]="newContactForm.invalid || backRequest">Agregar</button>
                }
            </form>
        </div>
    </div>
</section>