<section>

    <div class="card">
        <div>
            @if(idContact()){
            <h1>Editar contacto</h1>
            }
            @else {
            <h1>Nuevo contacto</h1>
            }
        </div>
        <div class="form-container">
            <form (ngSubmit)="handleFormSubmission(newContactForm)" #newContactForm="ngForm">
                <div>
                    <label for="first-name">Nombre*</label>
                    <input type="text" name="firstName" id="first-name" ngModel required="true" maxlength="20"
                        minlength="1" #firstName="ngModel">
                    @if (firstName.dirty && firstName.invalid) {
                    <p class="error">El nombre es obligatorio</p>
                    }
                </div>
                <div>
                    <label for="last-name">Apellido</label>
                    <input type="text" name="lastName" id="last-name" ngModel maxlength="20">
                </div>
                <div>
                    <label for="number">Telefono*</label>
                    <input type="text" name="number" id="number" ngModel maxlength="50" required="true" minlength="4"
                        #phone="ngModel">
                    @if (phone.dirty && phone.invalid) {
                    <p class="error">El telefono es obligatorio y tiene que tener al menos 4 caracteres y no mas de 50
                    </p>
                    }
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" ngModel maxlength="40">
                </div>
                <div>
                    <label for="address">Dirección</label>
                    <input type="text" name="address" id="address" ngModel maxlength="50">
                </div>
                <div>
                    <label for="company">Companía</label>
                    <input id="company" name="company" type="text" ngModel minlength="2">
                </div>
                <div>
                    <label for="image">URL Imagen</label>
                    <input id="image" name="image" type="text" ngModel minlength="10">
                </div>
                <div>
                    <label for="favorite">Favorito</label>
                    <input id="favorite" name="isFavorite" type="checkbox" ngModel>
                </div>
                <button [disabled]="newContactForm.invalid">Agregar</button>
            </form>
        </div>
        <div>
            <a routerLink="/">Cerrar</a>
        </div>
    </div>
</section>