<section class="flex-column">
    <h1>Agenda de contactos</h1>
    <div class="container flex-column">
        <h2>Iniciar sesión</h2>
        <form (ngSubmit)="login(loginUserForm)" #loginUserForm="ngForm">
            <div>
                <label for="email" class="visually-hidden">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" ngModel required #email="ngModel">
            </div>
            <div>
                <label for="password" class="visually-hidden">Contraseña</label>
                <input type="password" id="password" name="password" placeholder="Contraseña" ngModel required
                    #password="ngModel" minlength="8">
            </div>
            @if((!email.pristine && email.invalid) || (!password.pristine && password.invalid) || errorLoginForm){
                <p class="error">Email o contraseña invalido</p>
                }
            <button>Acceder</button>
            <div class="spinner">
                @if (backRequest) {
                    <app-spinner/>
                }
            </div>
                @if (errorService) {
                    <p class="error">Error indeterminado, intente nuevamente.</p>
                }
        </form>
        <p>¿No tienes cuenta? <a routerLink="/register">Registrate</a></p>
    </div>
</section>