/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}


/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --background-primary-color: #e4f7f3;
    // --background-primary-color: #F8F3D9;
    --background-secundary-color: #ffffff;
    // --background-secundary-color:#EBE5C2;
    --button-primary-color: #018075;
    --button-primary-hover-color: #018a7e;
    --button-primary-active-color: #018075;
	--button-secundary-color: #dcf1ee;
    // --boton-color: #B9B28A;
	--nav-bar-top-color: #f0f4f7;
	--nav-bar-left-color: #00998f;
	--input-text-bar: #fafafa;
	--font-color:black;
	--font-button-primary-color: #dcf1ee;
	--font-button-primary-active-color: #dcf1eec1;
	--font-button-secundary-color: #018075;
	--font: "Inter";
	// --font: "Open Sans", sans-serif;
	--font-weight: 500;
	--font-size: 14px;
	--font-size-h1: 32px;
	--font-size-h2: 20px;
	--font-size-p: 12px;
	--font-size-checkbox: 12px;
	--border-radius: 12px;


	--width-not-logged: 400px;

}

body{
    background-color: var(--background-primary-color);
	color: var(--font-color);
	font-family: var(--font);
	font-weight: var(--font-weight);
}



